<div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm">
    <a [routerLink]="['/productdetails', product.slug, product._id]">
        <div class="w-full aspect-[4/3]">
            <img class="w-full rounded-t-lg object-top" [src]="product.imageCover" alt="product image" />
        </div>
    </a>
    <div class="px-5 pb-5">
        <a [routerLink]="['/productdetails', product.slug, product._id]">
            <h5 class="text-xl font-semibold tracking-tight text-gray-900 mt-2 line-clamp-1">
                {{ product.title }}
            </h5>
        </a>

        <div class="flex items-center mt-2.5 mb-5">
            <div class="flex items-center justify-center space-x-1 rtl:space-x-reverse me-2">
                <i class="fa-solid fa-star text-yellow-300 w-4 h-4"></i>
                <i class="fa-solid fa-star-half-stroke text-yellow-300 w-4 h-4"></i>
            </div>
            <span class="bg-gray-100 text-gray-800 text-xs font-semibold px-2.5 py-0.5 rounded-sm">
                {{ product.ratingsAverage }}
            </span>
        </div>

        <div class="flex flex-col items-start gap-3 md:flex-row md:items-center md:justify-between">
            <span class="text-xl font-bold text-gray-900">{{ product.price | currency:'EGP' }}  </span>
            <button
                        class="bg-gray-600 flex gap-1 items-center text-white px-5 py-2 cursor-pointer disabled:cursor-not-allowed disabled:bg-gray-400 rounded-md hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
                        </svg>
                        Add to Cart
            </button>
        </div>

    </div>
</div>